PieChart_Example/Map/Map/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55698/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NHSPatServices" />
  <xs:element name="GetPlottableObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NHSPatServices" minOccurs="0" name="searchQuery" type="q1:search" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlottableObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NHSPatServices" minOccurs="0" name="GetPlottableObjectsResult" nillable="true" type="q2:ArrayOfPlottableObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMappableObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NHSPatServices" minOccurs="0" name="searchQuery" type="q3:search" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMappableObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NHSPatServices" minOccurs="0" name="GetMappableObjectsResult" nillable="true" type="q4:ArrayOfMappableObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>